@tailwind base;
@tailwind components;

:root {
  --color-bg: #F7F7F7;
  --color-text: #1F2A44;
  --color-accent: #1E40AF;
  --color-gray-100: #f3f4f6;
  --color-gray-700: #374151;
  --color-gray-200: #e5e7eb;
}

[data-theme='dark'] {
  --color-bg: #bdc6d9ff;
  --color-text: #EF4444; /* Changed to red */
  --color-gray-100: #374151;
  --color-gray-700: #f3f4f6;
  --color-gray-200: #374151;
}

@tailwind utilities;